.signup-page-container {
    background: url("/image/loginbg.jpg") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
    width: 350px;
    max-width: 90%;
  }
  
  .signup-header {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
  }
  
  .signup-text {
    font-size: 18px;
  
  color: black;
  margin-bottom: 10px;
  }
  
  .signup-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .signup-button {
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: rgb(227, 151, 9);
  }
  
  .signup-footer {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .signup-footer a {
    color: orange;
    text-decoration: none;
  }
  
  .signup-footer a:hover {
    text-decoration: underline;
  }
  
  /* Responsive */
  @media (max-width: 400px) {
    .signup-box {
      width: 90%;
    }
  }
  